<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    table {
      align-items: center;
      text-align: center;
      position: absolute;
      top: 18%;
    }
    body {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
  </style>

  <body>
    <h1>URL Shortner</h1>
    <% if (locals.id) { %>
    <p>URL Genrated: http://localhost:8001/urls/<%= id %></p>
    <% } %>

    <div>
      <form action="/url" method="post">
        <label for="#">Enter your Original URL</label>
        <input type="text" placeholder="https://example.com" name="url" id="" />
        <button type="submit">Genrate</button>
      </form>
      <div class="URLsData">
        <% if (locals.urls) { %>
        <table border="2px solid black">
          <tr>
            <th>S. No</th>
            <th>ShortID</th>
            <th>RedirectURL</th>
            <th>Clicks</th>
            <th>createdBy</th>
          </tr>
          <tbody>
            <% urls.forEach((url,index) => { %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= url.shortID %></td>
              <td><%= url.redirectURL %></td>
              <td><%= url.visitHistory.length %></td>
              <td><%= url.createdBy %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% } %>
      </div>
    </div>
  </body>
</html>
